* {
    box-sizing: border-box;
}

body {
    font-family:"Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #201328;
}

.container {
    padding: 20px;
    text-align: center;
}

.imagen img {
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.text-block-container {
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    transition: transform 0.3s ease-in-out;

}
.text-block-container :hover{
    transform: scale(1.05);
}


.hacemo {
    color: white;
    flex: 2; 
    max-width: calc(70% - 20px); 
    padding: 10px;
    margin: 5px;
    background-color: #FA7378;
    border-radius: 8px;
}
.deseo{
    color: white;
    flex: 2; 
    max-width: calc(40% - 100px); 
    padding: 10px;
    margin: 5px;
    background-color: #FA7378;
    border-radius: 8px;
}
.personal{
    color: white;
    flex: 2; 
    max-width: calc(33.33% - 300px); 
    padding: 10px;
    margin: 5px;
    background-color: #FA7378;
    border-radius: 8px;
}

.centered-text {
    height: 50px;
    margin-top: 10px;
    background-color: #FA7378;
    text-align: center;
    line-height: 50px;
}
.navbar {
    background-color: #FA7378; 
}
.navbar a:hover {
    background-color: #ed3d43;
}
.navbar .logo{
    margin-bottom: 40px;
}
.enlaceAbre-contenido {
    background-color: #FA7378;
}

/* Aqui comienza las tajertas*/
.container {
    padding: 20px;
    
}

.imagen img {
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.text-block-container {
    padding: 10px;
    display: flex;
    text-align: justify;
    justify-content: space-between; 
}
.text-block-container h3{
 text-align: center;
}


.hacemo {
    flex: 2; 
    max-width: calc(70% - 20px); 
    padding: 2%;
    margin: 5px;
    background-color: #FA7378;
    border-radius: 8px;
}
.deseo{
    padding: 2%;
    
    flex: 2; 
    max-width: calc(40% - 100px); 
    padding: 10px;
    margin: 5px;
    background-color: #FA7378;
    border-radius: 8px;
}
.personal{
    padding: 2%;
    
    flex: 2; 
    max-width: calc(33.33% - 300px); 
    padding: 10px;
    margin: 5px;
    background-color: #FA7378;
    border-radius: 8px;
}

.centered-text {
    height: 50px;
    margin-top: 10px;
    background-color: #FA7378;
    text-align: center;
    line-height: 50px;
}
/* Aqui comienza los servicios*/
.estatucontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.estatucontainer :hover{
    transform: scale(1.05);
}

.text {
    flex: 1;
    max-width: 45%; 
    margin-bottom: 20px;
    margin-right: 150px;
}

.text img {
    width: 80%; 
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-left: 200px;
}

.image {
    flex: 1;
    max-width: 45%; 
    margin-bottom: 20px;
}

.image img {
    width: 100%; 
    height: auto;
    display: block;
}
.estatucontainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.text2 {
    flex: 1;
    max-width: 45%; 
    margin-bottom: 20px;
    margin-left: 150px;
}

.text2 img {
    width: 80%; 
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-right: 200px;
}

.image {
    flex: 1;
    max-width: 45%; 
    margin-bottom: 20px;
}

.image img {
    width: 100%; 
    height: auto;
}  
/* Aqui comienza el footer*/

@media (max-width: 600px) {
    .hacemo,
    .deseo,
    .personal {
        max-width: 100%; 
    }
}
