/*Navbar*/
.navbar {
    background-color: #00cbcc;
}
.enlaceAbre-contenido {
    background-color: #00cbcc;
}
.enlaceAbre-contenido a:hover{
    background-color: #00ffff;
}

/* Cajas info */
.imgp{
    width: 30cm;
    height: 10cm;
}
.imgPrincipal {
    text-align: center;
    margin-bottom: 20px;
}

.imgPrincipal h1 {
    font-size: 4rem;
    color: #333;
}
.info {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

.cajai1, .cajai2, .cajai3 {
    background-color: #7fdcdc;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info h2 {
    font-size: 2rem;
}

.info p {
    font-size: 1.5rem;
}
.cajai1, .cajai2, .cajai3 {
    width: calc(33.333% - 20px);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box; 
    font-size: 1.6rem;
}

.cajai1, .cajai2, .cajai3 h2 {
    text-align: center;
    font-weight: 900;
    color: #333;
    margin-bottom: 10px;
}

.cajai1, .cajai2, .cajai3 p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #555;
}

.cajai1:hover, .cajai2:hover, .cajai3:hover {
    transform: scale(1.05);
}

.cajai1 {
    width: 100%;
}

.cajai2 {
    width: 100%;
}

.cajai3 {
    text-align: center;
    width: 100%;
    
}

/* Servicios */
.ser {
    font-size: 3rem;
}

.h2ser {
    font-size: 2rem;
    text-align: center;
}

.cajaServ {
    margin: 0 20px;
}

.servicios {
    background-color: #9fffff ;
    margin: 3% 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
    font-size: 1.5rem;
}
.servicio-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    
}


.servicios:hover {
    transform: scale(1.01);
}
.servicio-item img {
    max-width: 100%;
    border-radius: 5px;
}
.servicio-info {
    flex-grow: 1;
    padding-left: 10px;
}

.servicios p {
    font-size: 1.5rem;
    margin: 20px;
}

.servicios h1 {
    margin-top: 20px;
    text-align: center;
}

.imgs1{
    margin-left: 7cm;
    height: 15cm;
    width: 15cm;
}
.imgs2{
    height: 15cm;
    width: 20cm;
}
.imgs3{
    height: 15cm;
    width: 15cm;
    margin-left: 10cm;
}
.imgs4{
    height: 15cm;
    width: 15cm;
    margin-left: 5cm;
}
.horarios {
    background-color: #9fffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 
    font-size: 1.6rem;
}
.horarios:hover {
    transform: scale(1.05);
} 

