body {
    margin: 0;
    padding: 0;
}

.fondo {
    position: relative; 
    background-image: url('/img/centro3.jpg');
    background-size: cover;
    background-position: center;
    height: 645px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden; 
}

.fondo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}
.txt {
    position: relative;
    z-index: 1;
    font-family: 'Poppins', sans-serif ;
}
.txt h2{
    font-size: 2em;
}
.txt p{
    font-size: 1.3em;
}
