
.imgPrincipal {
    text-align: center;
}
.imgPrincipal h1{
    font-size: 75px;
}
.footer{
    background-color: #0d0413;
}
.navbar{
    background-color: #4b1c71;
}
.navbar a:hover{
    background-color: #7f4ca5;
}
.cajai1, .cajai2, .cajai3{
    background-color: #dbb6ee;
}
.info h2{
    font-size: 30px;
}
.info p{
    font-size: 20px;

}
.horarios{
    background-color: #dbb6ee;
}
.enlaceAbre-contenido {
    background-color: #4b1c71;
}

/* cajas info */
.info{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    
}
.cajai1, .cajai2, .cajai3{
    border-radius: 50px;
    padding: 40px;
    padding-top: 10px;    
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}
.cajai1:hover, .cajai2:hover, .cajai3:hover{
    transform: scale(1.05);

}
.cajai1, .cajai2, .cajai3 p {
    font-weight: 600;
}
.cajai1, .cajai2, .cajai3 h2{
    text-align: center;
    font-weight: 900;
}
.cajai1{width: 50%;}.cajai2{width: 40%;}.cajai3{width: 10%;}

/*cajas Servicios*/
.cajaServ{
    
    margin-left: 200px;
    margin-right: 200px;
    transition: transform 0.3s ease-in-out;
}
.cajaServ:hover{
    transform: scale(1.05);

}
.cajaServ :hover{
    transition-delay: 180ms;
    background-color: #7f4ca5;
    color: white;
}
.cajaServicio img{
    height: 417px;
    border-radius: 30%;
}
.cajaServicio p{
    line-height: 1cm;
    padding: 5%;
    text-align: justify;
}
.cajaServicio { 
    border-radius: 100px;
    padding: 3%;
    margin: 3%; 
    background-color: #facffa;
    font-size: 20px;
}
.cajaServicio h1{
    text-align: center;
}
.horarios{
    padding-top:    30px;
    padding-bottom: 30px;
    text-align: center;
}